services:
  whisperx-api:
    container_name: whisperx-api
    build: .
    hostname: whisper-x-api
    runtime: nvidia
    env_file: ".env"
    restart: unless-stopped
    ports:
      - "${API_PORT:-11300}:${API_PORT:-11300}"
    environment:
      - API_PORT=${API_PORT:-11300}
      - HUGGING_FACE_TOKEN=${HUGGING_FACE_TOKEN}
      - WHISPERX_CPU_ONLY=${WHISPERX_CPU_ONLY}
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
    devices:
      - /dev/nvidia0:/dev/nvidia0
      - /dev/nvidiactl:/dev/nvidiactl
      - /dev/nvidia-uvm:/dev/nvidia-uvm
    volumes:
      - whisperx-tmp:/home/whisperx-api/whisperx-api/temp
      - whisperx-data:/home/whisperx-api/whisperx-api/data

volumes:
  whisperx-tmp:
  whisperx-data:
